/*strony responsywne, najpierw w html trzeba wpisac 'media:vp + tab' potem ustawic wlasciwosci urzadzen dla jakich ma byc wyswietlone*/
/*

@media all and (orientation: landscape) {
    div {
        background-color: lime;
}

@media all and (min-width: 800px) and (max-width: 1200px) {
    div {
        background-color: aqua;
    }
    
    #kontener .inner {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    } 
    
    #kontener .inner:nth-child(3n+3) {
        margin-right: 1%;
    }
}

*/

@media all and (max-width: 1200px) {
    div {
        background-color: olive;
    }
}

@media all and (max-width: 992px) {
    div {
        background-color: magenta;
    }
}

@media all and (max-width: 700px) {
    div {
        background-color: aquamarine;
    }
}